body{
	background-color: #3d2e16;
	font-size: 14pt;
}
header h1{
	font-family: NevisBold;
	font-size: 29px;
	color: #cac8af;
	text-shadow: 3px 3px 2px #000;
	text-transform: uppercase;


}
header h2{
	font-family: georgia;
	color: #af9671;
	font-size: 13pt;
	font-style: italic;
	text-shadow: 2px 1px 2px #000;
}
header nav a{
	color: #af9671;
	font-size: 17px;
}
body {
	color: #cfcdb4;
}
h1{
	color: #ea9f3e;
	font-weight: normal;
	font-size: 18px;

}
h2{
	color: #ea9f3e;
	font-weight: normal;
	font-size: 18px;
}
h3{
	color: #af9671;
	font-size: 14px;

}
a{
	color: #ea9f3e;
	text-decoration: none;
}
header a{
	color: #af9671;
	font-size: 18pt;
	font-family: arial;
	text-decoration: none;
}
li{
	list-style-type: none;
}
article h1{
	text-transform: uppercase;
	font-family: arial;
}
section h1{
	text-transform: uppercase;
	font-family: arial;

}
section h2{
	text-transform: uppercase;
	font-family: arial;
}
p{
	font-family: georgia;
	font-size: 14px;
}
section ul li{
	font-family: georgia;
}
address{
	font-style: normal;
}
section address a{
	color: #ea9f3e;
}
section li a{
	color: #af9671;
	font-size: 14px;
}
section address{
	color: #cfcdb4;
	font-size: 14px;
}
section ul li {
	font-size: 14px;
}
div a:last-child {
	font-size: 14px;
}
footer small{
	font-size: 14px;
}

	/*about me stb betu vastagsagot at allitani
	betu olvashatosag*/